@charset "utf-8";
/* Simplify width and height calculations */

html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

body {
	margin: 0;
	color: #4B4B4B;
	font-family: source-sans-pro;
	font-style: normal;
	font-weight: 400;
	font-size: 1em;
	background-image: url(../images/annie.jpg);
	background-size: cover;
	background-color: aquamarine;
	align-items: center;
	justify-content: center;
}

.wrapper {
	width: 100%;
	margin: 0 auto;
	max-width: 1000px;
	background-color: #bae2f69a;
	justify-content: center;
	align-items: center;
}

.container {
	align-items: center;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;


}

.container-fluid {
	justify-content: center;
	align-items: center;

}
h1 {
	color: white;
	font-style: normal;
	font-weight: 600;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 2.5em;
	text-align: center;
	text-transform: uppercase;
}

h2 {
	color: #1E1E1E;
	margin-top: 0.5em;
	font-size: 2.25em;
}

a {
	font-weight: bold;
	text-decoration:underline;
}

a:link {
	color:#2e735c;
}

a:visited {
	color:#2e735c;
}

a:hover, a:active, a:focus {
	color: #7F3300;
	text-decoration: underline;
}

main, aside {
	margin-left: 4%;
	margin-right: 4%;
}

#hero img {
	max-width: 100%;
	display: block;
}

#hero p {
	color: #804c43;
	font-weight: 600;
	font-size: 1.5em;
	text-transform: uppercase;
	border-bottom-width: 3px;
	border-bottom-style: solid;
	padding-left: 4%;
	padding-right: 4%;
	padding-bottom: 20px;
	margin-top: 10px;
	font-family: source-sans-pro;
	font-style: normal;
}

figure {
	width: 800px;
	max-width: 92%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 20px;
	padding-bottom: 20px;
	align-items: center;
	justify-content: center;
}

figure img {
	max-width: 100%;
}

figcaption {
	display: block;
	margin-top: 0.5em;
	font-size: 0.90em;
	text-transform: uppercase;
	text-align: center;
	justify-content: center;
}

.grayscale {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
}

.grayscale:hover {
	-webkit-filter: grayscale(0%);
	filter: grayscale(0%);
}

footer {
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #3b3026;
	color: white;
	font-size: 0.8em;
	text-align: center;
}

@media (min-width: 700px) {
}
header {
    overflow: hidden;
	font-weight: 700;
}

#hero p {
	width: 36%;
	padding-left: 25px;
	padding-right: 25px;
	padding-top: 20px;
	position: absolute;
	color: white;
	border-width: 5px;
	border-style: solid;
	top: 90px;
	right: 33px;
}

#hero {
	position: relative;
	align-items: center;
	justify-content: center;
}

main {
	width: 60%;
	align-items: center;
	justify-content: center;
}

aside {
	width: 28%;
	margin-left: 0px;
}

main, aside {
	margin-top: 30px;
	margin-bottom: 30px;
	float: left;
	font-size: 0.875em;
}

footer {
	clear: left;
}


@media (min-width: 900px) {
.floatright {
	float: right;
	margin-right: 0px;
	margin-left: 10px;
}

.floatleft {
	float: left;
	margin-right: 10px;
}

}

.slogan {
	font-size: larger;
	font-style: italic;
}

.name{
	font-size: 12px;
	font-weight: 900;
}

.catdogapi {
	align-items: center;
	justify-content: center;
	font-size: 30px;
	color: #1E1E1E;
	padding-top: 100px;
}

.textprimary {
	align-items: center;
	justify-content: center;
}

.figure1 {
max-block-size: 100%;

}
