head {
    background color: #ce5f12;

}

body {
    background-color: #ce5f12;
}

footer {
    background-color: #ce5f12;
    text-align: center;
    justify-content: center;
    font-size: x-small;
    padding-top: 50px;

}

.logo {
    justify-content: center;
    text-align: center;
}

.name {
    color: azure;
    justify-content: center;
    text-align: center;
    font-size: 60px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
}

.slogan {
    color: aqua;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    font-weight: 600;
    font-size: 50px;
    font-style: italic;

}

.city1 {
    text-align: center;
    color: azure;
    font-size: 40px;
    
}


.city2 {
    text-align: center;
    color: azure;
    font-size: 40px;
}

.city3 {
    text-align: center;
    color: azure;
    font-size: 40px;
}

.city4 {
    text-align: center;
    color: azure;
    font-size: 40px;
}
